<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <div class="imageContainer">
    <ion-img src="assets/imgs/logo.png" alt="Logo de Biblioteca Digital"></ion-img>
  </div>

  <div class="imageContainer">
    <h1>Su Registro ha Sido Completado con Éxito</h1>
  </div>

  <div id="container">
    <button class="submitBtn" (click) = "ir_inicio()">Inicio</button>
  </div>
</ion-content>
